.activities-container {
  padding: 80px 0;
}

.activities {
  display: flex;
  align-items: center;
  padding: 32px auto;
}

.activities--aligned-right {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.activities--aligned-right .activities__image {
  margin-left: 126px;
  margin-right: 0;
}

.activities--aligned-left {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.activities--aligned-left .activities__content {
  padding-left: 126px;
}

.activities__description {
  margin-top: 24px;
  max-width: 584px;
}

.activities__image {
  order: -1;
}
